html, body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'avenir next',
		avenir,
		helvetica,
		'helvetica neue',
		ubuntu,
		roboto,
		noto,
		'segoe ui',
		arial,
		sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: orange;
	transition: color 0.3s ease;

	&:hover {
		color: darkred;
	}
}

#app {
	padding: 1rem;
}

.center {
	justify-content: center;
}

.container{
	background-color: antiquewhite;
	width: 500px;
	padding: 10px;
}

.emoji-container{
	text-align: center;
	font-size: 30px;
}

.emoji-container, textarea
{
	resize: none;
}

#emoji-happy:checked ~ .happy,
#emoji-meh:checked ~ .meh,
#emoji-unhappy:checked ~ .unhappy,
#emoji-sad:checked ~ .sad,
#emoji-angry:checked ~ .angry
{
	background-color: #111;
}

#emoji-happy~.happy
{
	background-color: #111;
}
